html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./images/background1.jpg");
    background-color: black;
    font-family: 'Baloo Bhai 2', cursive;
}

hr {
    border-radius: 5%;
    padding-left: 12%;
    padding-right: 12%;
    color: #28dff7;
    /* height: 20%; */
}

#image {
    border-radius: 50%;
    width: 30%;
    height: 30%;
    padding: 35px 0 0 15px;
    display: inline-block;
}

.heading {
    text-align: right;
    color: white;
    padding-right: 200px;
    font-size: 190%;
    display: inline-block;
}

.heading h1 {
    position: relative;
    bottom: 105px;
    left: 320px;
    font-size: 240%;
}

.heading h3{
    position: relative;
    bottom: 107px;
    left: 18px;
}

.about {
    color: white;
    font-size: 30px;
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

#skills {
    color: white;
    font-size: 200%;
    background-color: #833a18b7;
    border-radius: 6%;
    
}

#skills h2{
    padding-left: 3%;
    padding-bottom: 2%;
}

#skills img{
    text-decoration: none;
    width: 15%;
    height: 15%;
    padding-right: 20px;
    padding-left: 10px;
}

#contact {
    color: white;
    background-color: #5a4ab6cc;
    padding: 2% 2% 2% 2%;
    border-radius: 25px;
    font-size: 160%;

}

#contact img{
    text-decoration: none;
    list-style: none;
    width: 9%;
    height: 9%;
    padding: 2% 2% 2% 2%;
}

.navbar {
    color: white;
    overflow: hidden;
    background-color: black;
    padding-top: 10px;
    opacity: 0.7;
}

.navbar a {
    padding: 5px 10px 10px 8px;
    color: white;
    font-size: 125%;
    /* border: 1px solid #3498db; */
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
}

.navbar a:hover {
    color: #3498db;
}

.navbar a:active {
    background-color: grey;
}

#projects {
    color: white;
    font-size: 200%;
    padding-left: 20%;
}

#projects h2{
    padding-left: 45%;
}

.end {
    text-align: center;
    background-image: url("./images/end-background.jpeg");
    color: white;
    width: 100%;
    height: 200%;
}

@media only screen and (max-width: 580px){

    #skills img{
        width: 20%;
        height: 20%;
    }
    .image{
        display: block;
        width: 100%;
        float: center;
}

@media only screen and (max-width: 609px){
    #projects h2{
       padding-left: 0%; 
    }
}

@media only screen and (max-width: 420px){
    #projects h2{
        font-size: 90%;
    }
}
@media only screen and (max-width: 400px){

    #skills img{
        width: 23%;
        height: 23%;
        padding-top: 6%;
    }
    #skills{
        font-size: 140%;
    }
}

@media only screen and (max-width: 774px){
    #contact img{
        width: 13%;
        height: 13%;
        padding-top: 7%;
    }
    #contact {
        font-size: 130%;
        
    }
}